<div class="container cont">
    <div class="text-center m-3">
        <h2 class="font-weight-bold">
          Nuestros Productos  
        </h2>
    </div>  

    <div class="card-columns m-5 animated fadeIn puntero">
        <div class="card"  *ngFor="let item of products">
          <img class="card-img-top" [src]="item.img" alt="{{item.Nombre}}" matTooltip="{{item.Nombre}}" [matTooltipPosition]="'below'">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-title">{{item.description}}</p>
            <div class="row">
              <div class="col-6">
                <p class="card-text " >
                  <span class="badge badge-primary" >{{item.price}}</span>
              </p>
              </div>
              <div class="col-6" style="text-align: end;">
                <button mat-icon-button (click)="agregar(item)" >
                  <mat-icon style="color: black;">add_shopping_cart</mat-icon>
                </button>
              </div>
            </div>
           
            
          </div> 
        </div>
    </div>
    
</div>
