<div>
    <form [formGroup]="formulario" (ngSubmit)="calcular()">
        <div class="row">
          <div class="col-5">
            <input required type="number" class="form-control" placeholder="Numero 1" formControlName="numero1">
          </div>
          <div class="col-2">
            <select required class="form-control" id="exampleFormControlSelect1" formControlName="operacion">
                <option *ngFor="let operacion of operaciones" value="{{operacion.nombre}}" >{{operacion.nombre}}</option>
            </select>
          </div>
          <div class="col-5">
            <input  required type="number" class="form-control" placeholder="Numero 2" formControlName="numero2">
          </div>
        </div>
        <div class="row">
            <div class="col botones">
                <button type="submit" [disabled]="!formulario.valid" class="btn btn-primary">Calcular</button>
                <button type="button" class="btn btn-secondary" (click)="resetear()" >Resetear</button>
            </div>        
        </div>
        <div class="row ">
            <div class="col text-center" style="margin: 20px;" *ngIf="resultado == 0 || resultado != 0">
                Resultado:  {{resultado}}
            </div>
        </div>
    </form>

</div>
