<div class="container">
    <div class="info">
        <div class="text-center mb-5">
          {{ "QUIENES SOMOS" | murcielago}}
        </div>
        <p class="text-center">
          {{"Restaurante PIPE un acogedor restaurante fundado el 21 de Octubre de 1984, al estilo de una típica Casa-Hacienda costeña en pleno corazón de San Isidro, Centro Comercial y Empresarial de Lima, Av. Rivera Navarrete No. 740 San Isidro; finamente decorado al estilo colonial, la tradición vive en cada rincón, objetos pinturas, detalles enriquecen parte de nuestro bagaje cultural, donde podrá apreciar calidad y el toque diferente de sus parrillas preparadas con selectos cortes de carne, asimismo podrá degustar la suculenta cocina peruana, pastas, y pescados de la mejor calidad.
            restaurante pipe, es una fiesta en el paladar, un juego para las pupilas, es un punto de reunión de negocios y de complicidad" | murcielago}}
        </p>
    </div>

    <div class="carrusel">

        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="" data-slide-to="0" class="active"></li>
              <li data-target="" data-slide-to="1"></li>
              <li data-target="" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./../../../assets/img/comida/arepas.jpg" class="d-block w-100" alt="arepas">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Arepas</h5>
                  <p>Arepas caseras, frescas y con maíz de excelente calidad</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="./../../../assets/img/comida/bandejaPaisa.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Bandeja Paisa</h5>
                  <p>Plato Típico de nuestro país</p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="./../../../assets/img/comida/arrozConPollo.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <h5>Arroz Con Pollo</h5>
                  <p>Arroz Con Pollo</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>


    </div>
    
</div>
