<table class="table table-striped" *ngIf="lista.length > 0">
  <thead>
    <tr class="text-center">
      <th scope="col">Cantidad</th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of lista; let i = index" class="text-center">
      <th scope="row"> 
        <button mat-icon-button (click)="accion('aumentar', i)">
          <mat-icon>keyboard_arrow_up</mat-icon>
        </button>
        {{producto.cantidad}}
        <button mat-icon-button color="primary" (click)="accion('reducir', i)">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      </th>
      <td> {{producto.name}} </td>
      <td> {{producto.price}} </td>
    </tr>
  </tbody>
</table>
<div class="row" *ngIf="lista.length > 0">
  <div class="col-6 text-right">
    Total
  </div>
  <div class="col-6 text-right">
    $ {{total}}
  </div>
</div>
<div *ngIf="lista.length < 1" class="text-center">
  <mat-icon>remove_shopping_cart</mat-icon> C A R R I T O   V A C Í O
</div>