<div class="container">
    

    <div class="m-5 animated fadeIn puntero">

        <div class="card">
            <div class="text-center m-3">
                <h2 class="font-weight-bold" style="color: black;">
                  Haz un pedido 
                </h2>
            </div>  
            <div class="card-body">
                <mat-accordion class="example-headers-align" [formGroup]="formulario">
                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Datos Personales
                        </mat-panel-title>
                        <mat-panel-description>
                          Información personal
                          <mat-icon>account_circle</mat-icon>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                  
                      <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre">
                      </mat-form-field>
                  
                      <mat-form-field appearance="outline">
                        <mat-label>Número Telefono</mat-label>
                        <input matInput formControlName="telefono" >
                      </mat-form-field>

                      <mat-form-field appearance="outline">
                        <mat-label>Dirección</mat-label>
                        <input matInput formControlName="direccion" >
                      </mat-form-field>
                  
                      <mat-action-row>
                        <button mat-button color="primary" (click)="nextStep()">Continuar</button>
                      </mat-action-row>
                    </mat-expansion-panel>
                  
                    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Pedido
                        </mat-panel-title>
                        <mat-panel-description>
                          elige tus platos
                          <mat-icon>map</mat-icon>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                  
                      <mat-form-field appearance="outline">
                        <mat-label>Platos</mat-label>
                        <mat-select formControlName="platos">
                          <mat-option *ngFor="let food of products" [value]="food">
                            {{food.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <mat-form-field appearance="outline">
                        <mat-label>Cantidad</mat-label>
                        <input matInput type="number" formControlName="cantidad">
                      </mat-form-field>

                      <mat-form-field appearance="outline">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="picker" (focus)="picker.open()" readonly formControlName="fecha">
                      </mat-form-field>
                      <mat-datepicker #picker></mat-datepicker>
                  
                      <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Regresar</button>
                        <button mat-button color="primary" (click)="nextStep()">Continuar</button>
                      </mat-action-row>
                    </mat-expansion-panel>
                  
                    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          Pagar
                        </mat-panel-title>
                        <mat-panel-description>
                          Selecciona Metodo de pago
                          <mat-icon>attach_money</mat-icon>
                        </mat-panel-description>
                      </mat-expansion-panel-header>

                      <mat-radio-group aria-label="Select an option" formControlName="metodoPago">
                        <mat-radio-button value="Efectivo">Efectivo</mat-radio-button>
                        <mat-radio-button value="Pse">Pse</mat-radio-button>
                      </mat-radio-group>

                    
                      <mat-action-row>
                        <button mat-button color="warn" (click)="prevStep()">Regresar</button>
                        <button (click)="mostrarValores()"  mat-button color="primary" >Pagar</button>
                      </mat-action-row>
                    </mat-expansion-panel>
                  
                </mat-accordion>
              
            </div>
        </div>

       
    </div>
    
</div>
